@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.ant-table-header {
  border-bottom: 1px solid #1ca1c1;
}

/* TODO: Find an alternative solution to avoid using !important for padding */
.ant-table-cell {
  padding: 7px !important;
}